  <div class='row'>
    <br><br>
    <h1 class="welcome">Just Lunch</h1>
  </div>
</div>

<div class="row center">
  <h1><strong>Lunches</strong></h1>

  <% if @meetings.count == 0 %>
    <h4>Looks like you don't have any lunches...yet.</h4>
  <% end %>
</div>


<% @meetings.each do |meeting| %>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-2">
      <h4><strong><%= link_to meeting.created_at.strftime("%B %d, %Y"), user_meeting_path(current_user, meeting) %></strong></h4>
      <%= image_tag meeting.restaurant.image, class: 'img-responsive', width: '175px' %>
      <p>
    </div>
    <div class="col-xs-2 text-right">
      <h3><u><%= link_to meeting.restaurant.name, meeting.restaurant.url %></u></h3>
      <% if meeting.status == 'accepted' %>
        <h4><strong>Guest: </strong><%= meeting.users.where.not(id: params[:user_id]).first.name%></h4>
      <% end %>
      <h4><strong>Time: </strong><%= meeting.time %></h4>
      <h4><strong>Status: </strong><%= meeting.status %></h4>
      </p>
      <hr>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <hr>
<% end %>
