<% present @user do |user_presenter| %>
  <div class="col-md-6">
 <%= image_tag @user.image, class: 'img-responsive' %>
</div>
<div class="col-md-6 text-left">
  <h2><%= @user.name %></h2>
  <p>Age: <%= @user.age%></p>
  <p>
    <h4>Acceptance rate: <%= @user.accept_rate %>%</h4>
    <%= user_presenter.pending_invitation %>
  </p>
  <p>
    <%= link_to 'My Lunches', user_meetings_path(@user) %>
  </p>
  <p>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  </p>
  <p>
    <%= link_to 'Edit Availability', edit_user_availability_path(@user, @user.availabilities.last) %>
  </p>
  </div>
<% end %>
