<% present @user do |user_presenter| %>
  <div class="row center">
    <br>
    <%= image_tag @user.image, class: 'img-responsive circle main-profile-img' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <h1><strong><%= @user.name.capitalize %></strong></h1>
    <h4><strong>Email: </strong><%= @user.email %></h4>
    <h4><strong>Zip: </strong><%= @user.availabilities.first.location %></h4>
    <h4><strong>Age: </strong><%= @user.age %></h4>
    <h4><strong>Acceptance rate: </strong><%= @user.accept_rate %>%</h4>
    <h5><%= user_presenter.pending_invitation %></h5>
  </div>
  <div class="col-xs-2 text-align-right">
    <h3 class="dashboard"><u><strong>Dashboard</strong><u></h3>
    <h4><%= link_to 'My Lunches', user_meetings_path(@user) %></h4>
    <h4><%= link_to 'Edit Profile', edit_user_path(@user) %></h4>
    <h4><%= link_to 'Edit Availability', edit_user_availability_path(@user, @user.availabilities.last) %></h4>
  </div>
  <div class="col-xs-4"></div>
</div>
<% end %>
