<h1>Availabilities</h1>

<%= form_for @availability, url: user_availability_index_path(@user) do |f| %>
  <%= f.label :time %><br>
  <%= f.text_field :time %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>