<div class="col-md-6 text-left">
<%= image_tag restaurant.image, class: 'img-responsive', width: '200px' %>
</div>
<div class="col-md-6 text-left">
<h3><%= link_to restaurant.name, restaurant.url %></h3>
<h4><%= meeting.created_at.strftime("%B %d, %Y") %> at <%= meeting.time %></h4>
<hr>
<ul>
	<li>Cuisine: <%= restaurant.food %></li>
	<li>Location: <%= restaurant.location %></li>
	<li>Phone: <%= number_to_phone(restaurant.phone, area_code: true) %></li>
	<li>Rating: <%= restaurant.rating %> out of 5.</li>
</ul>
</div>
