<div class="row center">
  <h3><u><%= link_to restaurant.name, restaurant.url %></u></h3>
  <h4><%= meeting.created_at.strftime("%B %d, %Y") %> at <%= meeting.time %></h4>
  <hr>
	<h5><strong>Cuisine: </strong><%= restaurant.food %></h5>
	<h5><strong>Location: </strong><%= restaurant.location %></h5>
	<h5><strong>Phone: </strong><%= number_to_phone(restaurant.phone, area_code: true) %></h5>
	<h5><strong>Rating: </strong><%= restaurant.rating %> out of 5.</h5>
</div>
