<h1>Lunch</h1>
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src=<%= restaurant.image %> width=200px
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1><%= link_to restaurant.name, restaurant.url %></h1>
	<h4><%= meeting.created_at.strftime("%B %d, %Y") %> at <%= meeting.time %>
	Cuisine: <%= restaurant.food %><br>
	Location: <%= restaurant.location %><br>
	Phone: <%= number_to_phone(restaurant.phone, area_code: true) %><br>
	Rating: <%= restaurant.rating %> out of 5.</h4>
          </div>
        </div>
      </div>
    </div>